

<h1>О сайте</h1>

<div>Данный сайт был создан</div>
<div>Челноковым Егором Игоревичем</div>
<div>Студентом пятого курса</div>
<div>Группы 16ИТ18К</div>
<div>В рамках выпускного дипломного проектирования</div>
<br>
<h2>Контакты</h2>
<a href="https://vk.com/ch_ego">vk.com/ch_ego</a>
<p>e-mail: chelnokov16it18k@yandex.ru</p>
