@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Пользователь дает своё согласие с положениями настоящей Политики конфиденциальности
    проставлением соответствующей отметки в поле при 
    Регистрации, в том числе на любом этапе такой регистрации и (или) в любой момент пользования приложением.</p>
